html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #555;
  font-size: 14px;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

.login_box {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #fff;
  background-image: url('../images/login/bag.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.header_img {
  margin-top: 10px;
}

.logo_img {
  margin-left: 72px;
}

.content {
  width: 480px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 196px;
}

.login_title {
  text-align: center;
  font-size: 32px;
  color: #4155D0;
  margin-bottom: 56px;
}

.login_input {
  width: 480px;
  height: 56px;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  margin-bottom: 36px;
  font-size: 16px;
  color: #BBBBBB;
  padding-left: 55px;
  padding-right: 55px;
}

.login_code_box {
  width: 302px;
  height: 56px;
  border: 1px solid #DDDDDD;
  font-size: 16px;
  color: #BBBBBB;
  padding-left: 16px;
  padding-right: 16px;
  border-radius: 5px;
}

.login_item_box {
  position: relative;
  height: 56px;
}

.img_icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.img_icon_right {
  cursor: pointer;
  width: 25px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 15px;
}

.login_line {
  background: #DDDDDD;
  width: 1px;
  height: 20px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 42px;
}

.error_box {
  height: 36px;
  line-height: 36px;
  text-align: right;
  font-size: 14px;
  color: #EE625F;
}

.login_btn {
  margin-top: 36px;

}

.login_btn_p {
  width: 480px;
  height: 56px;
  background: #4155D0;
  border-radius: 5px;
  text-align: center;
  line-height: 56px;
  font-size: 16px;
  color: #FFFFFF;
  cursor: pointer;
  moz-user-select: -moz-none;
  -moz-user-select: none;
  -o-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:focus {
  border-radius: 5px;
  border: 1px solid #4155d0;
}

.login_box_left {
  height: 100%;
}

.login_box_right {
  height: 100%;
}


.error_msg {
  height: 20px;
}

::-webkit-input-placeholder {
  /* WebKit, Blink, Edge */
  font-size: 12px;
  color: #bbbbbb;
}

:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  font-size: 12px;
  color: #bbbbbb;
}

::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  font-size: 12px;
  color: #bbbbbb;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  font-size: 12px;
  color: #bbbbbb;
}

#code_img {
  border-radius: 5px;
}

.login_button {
  margin-top: 30px;
  background-image: linear-gradient(180deg, #4155d0 0%, #004194 98%);
  border-radius: 5px;
  height: 42px;
  width: 360px;
  color: #fff;
  font-size: 16px;
  line-height: 42px;
}

button:focus {
  outline: none;
}

button:active {
  outline: none;
}

.errorMessage_color {
  color: #ff5f5c;
  padding-left: 55px;
  font-size: 13px;
  line-height: 20px;
}